<div class="container">
  <h1>Create a new list</h1>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :list_url %>
    <%= f.submit "Create", class: "btn btn-success" %>
    <%= link_to "Cancel", root_path, class: "btn btn-danger"  %>
  <% end %>

</div>
